<h1>Users#destroy</h1>
<p>Find me in app/views/users/destroy.html.erb</p>
<p><% @user do |u| %> </p>
<%= u.first_name :first_name %>
<%= u.last_name :last_name %>
<%= u.age :age %>
<%= u.destroy 'Delete' %>
<% end %>
